<header class="top-nav">
  <nav class="content-container">
    <a href="/">
      <%= image_tag "steamleaf.png", alt: "SteamLeaf", height: "60" %>
    </a>

    <div class="top-nav__links">
      <a href="/rules">Rules</a>
      <a href="/steam">Steam Guild</a>
    </div>
  </nav>
</header>