<section class="intro intro__story">
  <div class="content-container">
    <p>
      In the great forest of Vulpinis Hollow, on the lone mountain of Badger Rock, is a city known as the Citadel of Steam. 
    </p>
    <p>
      The city, built into the side of Badger Rock mountain, rises far above the highest treetop; a bastion of technological progress that stands out definitively against the surrounding forest.
    </p>
  </div>
</section>

<section class="intro intro__steam">
  <div class="content-container">
    <p>
      The city is home to the Steam Guild: a productive and organised society of steadfast badgers, industrious beavers, and disciplined weasels.
    </p>
    <p>
      They work together to keep their city prosperous and strong.
    </p>
  </div>
</section>

<section class="intro intro__leaf">
  <div class="content-container">
    <p>
      The forest is home to the Leaf Coven: a community of dutiful foxes, mystical racoons, and resourceful badgers.
    </p>
    <p>
      They respect the forest spirits and work in harmony with them – and, by channeling these spirits, they are granted supernatural powers.
    </p>
  </div>
</section>

<section class="intro intro__story">
  <div class="content-container">
    <p>
      The ideological difference between these two societies has become the catalyst for war: the Leaf Coven have lived in harmony with the forest spirits for countless generations, and the methods used by the Steam Guild to power their technology are highly  offensive to them.
    </p>
    <p>
      So far, no side has gained a clear advantage in the war,  but all agree that the fighting will not end any time soon.
    </p>
  </div>
</section>