<section class="rules-page content-container">
  <h1>Rules of SteamLeaf</h1>

  <aside class="rules-page__box rules-page__index">
    <%= image_tag "steamLeaf-cover.png", alt: "SteamLeaf" %>
    <a class="button button--dark" href="steamleaf-rules.pdf" download>
      Download Rules (pdf)
    </a>

  </aside>

  <article class="rules-page__box rules-page__info">
    <h2>Introduction</h2>
    <p>
      Steam Leaf is a tactical wargame for two players.
      The players will equip their faction, and try to achieve their faction’s objective while preventing their opponent’s faction from achieving theirs.
    </p>
    <ul class="rules-page__stats">
      <li><i class='bx bx-community'></i>Players</li>
      <li><i class='bx bx-stopwatch'></i>60 - 90 mins</li>
      <li><i class='bx bx-parent-child'></i>Ages 10 +</li>
    </ul>
  </article>
</section>


