@use './theme' as *;

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: $theme-dark;
  color: $theme-light;
}

.content-container {
  max-width: 90%;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 80%;
  }
}
