@use './theme' as *;

.button {
  display: inline-block;
  text-align: center;
  padding: .5rem 1rem;
  text-decoration: none;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}

.button--dark {
  background-color: $inky-black;
  color: $smog-grey;
  &:hover,
  &:focus {
    color: $inky-black;
    background-color: $smog-grey;
  }
}