@use './theme' as *;

.top-nav {
  position: sticky;
  top: 0;
  background: $copper-brown;
  border-bottom: 1px solid $theme-light;
  z-index: 10;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  .top-nav__links a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    &.steam:hover,
    &.steam:focus {
      background-color: $steam-blue;
      color: $inky-black;
    }
    &.leaf:hover,
    &.leaf:focus {
      background-color: $leaf-green;
      color: $inky-black;
    }
    &.rules:hover,
    &.rules:focus {
      background-color: $copper-orange;
      color: $inky-black;
    }

    @media (min-width: 768px) {
      font-size: 1.125rem;
      margin: 0 1rem;
      padding: 1rem;
    }
  }
}
