.top-nav {
  position: sticky;
  top: 0;
  background: #271915;
  border-bottom: 1px solid #E0BEB4;
  z-index: 10;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-nav__links a {
    font-size: 1.25rem;
    margin: 0 1rem;
  }
}
