@use './theme' as *;

table {
  width: 100%;
  background-color: $smog-grey;

  thead tr th,
  tbody tr td {
    border-bottom: 2px solid $inky-black;
    border-right: 2px solid $inky-black;
    padding: 5px;
    

    &:last-child {
      border-right: none;
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  thead tr th {
    font-size: 1.1rem;
  }

  tbody tr td {
    font-size: 1rem;
  }
}

.roster-table {
  margin-top: 1rem;
  .units {
    width: 75%;
    text-align: left;
  }
  .amounts {
     width: 25%;
    text-align: right;
  }
}