$theme-light: #E0BEB4;
$theme-dark:  #1E1E1E;

$leaf-green: #B6C9A3;
$steam-blue: #9DB3C0;

$smog-grey:     #D9D9D9;
$copper-brown:  #271915;
$copper-orange: #CDA34F;
$copper-red:    #D36047;
$dark-forest:   #1B2313;
$inky-black:    #0E1519;